<h1>Lista de Vcubs</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Id Vcub</th>
    <th>Prestada</th>
    <th>Usuario Actual</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @vcubs.each do |vcub| %>
      <tr>
        <td><%=vcub.id%></td>
        <td><%=vcub.numero_identificacion %></td>
        <td><%=vcub.prestada %></td>
        <td><%=vcub.cliente_id %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
