<% #encoding: utf-8%>
<h1>Lista de estaciones</h1>

<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Capacidad máxima</th>
    <th>id</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @estaciones.each do |estacion| %>
      <tr>
        <%#= link_to estacion.nombre, "/estaciones/#{estacion.id}",id: estacion.id %>
        <td><%= link_to estacion.nombre, estacion_path(estacion.id) %></td>
        <td><%= estacion.capacidad %></td>
        <td><%= estacion.id %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>
