<h1>Estaciones</h1>
<p>Esta es la página de estaciones. Desde aqui se pueden agregar nuevas estaciones y ver todas las ya existentes. </p>

<p><%= link_to 'Lista de estaciones', action: 'index', method: 'get' %></p>
<hr>
<p><%= button_to 'Crear nueva estacion' %></p>