<h1><%='Trayecto'%></h1>

<table>
  <thead>
      <tr>
        <th>Reserva id</th>
        <th>Distancia</th>
        <th>Tipo</th>

      </tr>
  </thead>
  <tbody>
      <tr>
        <td><%=@trayecto.reserva_id%></td>
        <td><%=@trayecto.distancia %></td>
        <td><%=@trayecto.tipo%></td>


  </tr>

  </tbody>
</table>

<br>
