<h1><%="Reporte creado" %> </h1>

<table>
  <thead>
  <tr>
    <th>Fecha</th>
    <th> Contenido</th>
    <th>Id</th>

  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @reporte.fecha %></td>
        <td><%= @reporte.contenido %></td>
        <td><%= @reporte.id %></td>
      </tr>
  </tbody>
</table>

<br>