<h1> Hola </h1>
<h1><%= @cliente.nombre %></h1>

<p><%= link_to 'Crear reserva',controller: 'reservas',action: 'crear', method: 'post', id: @cliente.id   %></p>
<p><%= link_to 'Ver reservas', controller: 'reservas',action: 'index', method: 'get', id: @cliente.id  %></p>