<nav><!-- top nav -->
  <div class="menu">
    <ul>
      <li>Inicio<!%= nav_link_to 'Home','home',  page_home_path, 'current_page' %></li>
      <li><a href="#">About</a>
        <ul>
          <li>Pagina<!%= link_to 'Teach Lagarto', lagarto_teach_path %></li>
          <li><a href="#">History</a></li>
          <li><a href="">Vision</a></li>
        </ul>
      </li>
      <li>Products<!%= link_to 'Products', page_products_path %></li>
      <li>Articles<!%= link_to 'Articles', page_articles_path %> </li>
      <li>Contact us<!%= link_to 'Contact us', page_contact_us_path %></li>
    </ul>
  </div>
</nav><!-- end of top nav -->