<% #encoding: utf-8%>
<h1>Lista de prestamos</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Vcub</th>
    <th>Cliente</th>
    <th>Fecha</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @prestamos.each do |prestamo| %>
      <tr>
        <%#= link_to estacion.nombre, estacion_path(estacion.id) %>
        <td><%= prestamo.id %> </td>
        <td><%= prestamo.vcub.id %></td>
        <td><%= prestamo.cliente.nombre %></td>
        <td><%= prestamo.fecha %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>